.ng-hide-add {
    animation:0.4s shrinkInX ease;
}

.ng-hide-remove {
    animation:0.4s growInX ease;
}

@keyframes growInX {
    0% {
        max-width: 0%;
    }

    100% {
        max-width: 85%;
    }
}

@keyframes shrinkInX {
    0% {
        max-width: 100%;
        opacity: 1
    }

    100% {
        max-width: 0%;
        opacity: 0
    }
}
