* {
    font-family: 'Josefin Sans', sans-serif;
}

@media screen and (min-width: 960px) {
    .content-wrapper {
        margin-left:320px;
    }
}

.content-wrapper {
    height: 100vh;
    max-height: 100vh;
}

.theme-background {
    background-color: #263238 !important;
}

.window-height {
    max-height:100vh !important;
    overflow-y:scroll;
}