.text-center{
    text-align: center !important;
}

.clickable{
    cursor: pointer
}

.wrap-content {
    flex-wrap: wrap;
}

.parent-width{
    width: 100% !important;
}

.error-text {
    color: darkorange !important;
}