<div class="col-md-8 col-md-offset-2">

    <input type="text" ng-model="search.name" class="form-control" placeholder="{{'SEARCH_PRODUCT_BY_NAME' | translate}}">
    <br>
    <div class="container">
        <section class="row controls-sorting">
            <div class="sorting col-sm-6"> <span class="title">{{'SORT_BY_:'| translate}}</span>
                <div class="btn-group">
                    <button type="button" class="btn btn-info btn-xs" ng-click="setOrder('2', 'name', false)" ng-class="{active: sorting.id  === '2'}">{{'NAME_A_Z' | translate}}</button>
                    <button type="button" class="btn btn-info btn-xs" ng-click="setOrder('3', 'name', true)" ng-class="{active: sorting.id  === '3'}">{{'NAME_Z_A' | translate}}</button>
                    <button type="button" class="btn btn-info btn-xs" ng-click="setOrder('4', 'price', false)" ng-class="{active: sorting.id  === '4'}">{{'PRICE_LOW_HIGH' | translate}}</button>
                    <button type="button" class="btn btn-info btn-xs" ng-click="setOrder('5', 'price', true)" ng-class="{active: sorting.id  === '5'}">{{'PRICE_HIGH_LOW' | translate}}</button>
                </div>
            </div>
        </section>
    </div>
    <br>
    <div class="row" ng-if="!productInfoList.length">
        {{ 'NO_PRODUCTS_TO_SHOW' | translate }}
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>{{'ID' | translate}}</th>
            <th>{{'IMAGE' | translate}}</th>
            <th>{{'CATEGORY' | translate}}</th>
            <th>{{'NAME' | translate}}</th>
            <th>{{'QUANTITY' | translate}}</th>
            <th>{{'PRICE' | translate}}</th>
            <th>{{'DISCOUNT_EXPIRATION_DATE' | translate}}</th>
            <th style="width:20px;"> </th>
            <th style="width:20px;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="productInfo in productInfoList | orderBy: sorting.order: sorting.direction | filter: search" >
            <td>
                {{productInfo.id}}
            </td>
            <td>
                <img class="img-responsive" ng-src={{productInfo.imageUrl}} width="40px" height="40px" alt="No image.">
            </td>
            <td>
                <span ng-hide="productInfo.editing" ng-dblclick="editProduct(productInfo)">{{productInfo.category | uppercase}}</span>
                <input ng-show="productInfo.editing" ng-model="productInfo.category" ng-blur="doneEditing(productInfo)" autofocus />
            </td>
            <td>
                <span ng-hide="productInfo.editing" ng-dblclick="editProduct(productInfo)">{{productInfo.name | capitalize}}</span>
                <input ng-show="productInfo.editing" ng-model="productInfo.name" ng-blur="doneEditing(productInfo)" autofocus />
            </td>
            <td>
                <span ng-hide="productInfo.editing" ng-dblclick="editProduct(productInfo)">{{productInfo.quantity}}</span>
                <input ng-show="productInfo.editing" ng-model="productInfo.quantity" ng-blur="doneEditing(productInfo)" autofocus />
            </td>
            <td>
                <span ng-hide="productInfo.editing" ng-dblclick="editProduct(productInfo)">{{productInfo.price | currency:"USD$":2}}</span>
                <input ng-show="productInfo.editing" ng-model="productInfo.price" ng-blur="doneEditing(productInfo)" autofocus />
            </td>
            <td>
                <span ng-hide="productInfo.editing" ng-dblclick="editProduct(productInfo)">{{productInfo.discountExpirationDate | date:'MM/dd/yyyy'}}</span>
                <input ng-show="productInfo.editing" ng-model="productInfo.discountExpirationDate" ng-blur="doneEditing(productInfo)" autofocus />
            </td>
            <td><a ng-click="updateProduct(productInfo)" class="btn btn-success btn-lg"/>{{'UPDATE' | translate}}</button></td>
            <td><a ng-click="deleteProduct(productInfo)" class="btn btn-danger btn-lg"/>{{'DELETE' | translate}}</button></td>
        </tr>
        </tbody>
    </table>

    <h2>Add Product</h2>

    <form name="addNewProductForm">
        <div class="form-group">
            <label for="lcat">{{'CATEGORY_:' | translate}}:</label>
            <input type="text" name="productCategory" ng-minlength = 3 ng-maxlength = 10 ng-model="newProductInfo.category" class="form-control" id="lcat" required>
            <div ng-messages="addNewProductForm.productCategory.$error" style="color:maroon" role="alert" ng-show="addNewProductForm.productCategory.$touched">
                <div ng-message="required">{{'REQUIRED_FIELD' | translate}}/div>
                <div ng-message="minlength" class="err">{{'MINIMUM_3_CHARACTERS' | translate}}</div>
                <div ng-message="maxlength" class="err">{{'MAXIMUM_10_CHARACTERS' | translate}}</div>
            </div>
        </div>

        <div class="form-group">
            <label for="lname">{{'NAME_:' | translate}}</label>
            <input type="text" name="productName" ng-minlength = 3 ng-model="newProductInfo.name" class="form-control" id="lname" required>
            <div ng-messages="addNewProductForm.productName.$error" style="color:maroon" role="alert" ng-show="addNewProductForm.productName.$touched">
                <div ng-message="required">{{'REQUIRED_FIELD' | translate}}</div>
                <div ng-message="minlength" class="err">{{'MINIMUM_3_CHARACTERS' | translate}}</div>
            </div>
        </div>

        <div class="form-group">
            <label for="lquant">{{'QUANTITY_:' | translate}}</label>
            <input type="text" name="productQuantity" ng-pattern="/^[0-9]{1,7}$/" ng-model="newProductInfo.quantity" class="form-control" id="lquant" required>
            <div ng-messages="addNewProductForm.productQuantity.$error" style="color:maroon" role="alert" ng-show="addNewProductForm.productQuantity.$touched">
                <div ng-message="required">{{'REQUIRED_FIELD' | translate}}</div>
                <div ng-message="pattern" class="err">{{'INVALID_QUANTITY_FORMAT' | translate}}</div>
            </div>
        </div>

        <div class="form-group">
            <label for="lprice">{{'PRICE_:' | translate}}</label>
            <input type="text" name="productPrice" ng-pattern="/^[0-9]{1,7}$/" ng-model="newProductInfo.price" class="form-control" id="lprice" required>
            <div ng-messages="addNewProductForm.productPrice.$error" style="color:maroon" role="alert" ng-show="addNewProductForm.productPrice.$touched">
                <div ng-message="required">{{'REQUIRED_FIELD' | translate}}</div>
                <div ng-message="pattern" class="err">{{'INVALID_PRICE_FORMAT' | translate}}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="limg">{{'IMAGE_:' | translate}}</label>
            <input type="text" ng-model="newProductInfo.imageUrl" class="form-control" id="limg">
        </div>
        <div class="form-group">
            <label>{{'DISCOUNT_APPLICABLE_UNTIL_:' | translate}}</label>
            <date-picker name="discountExpirationDate" model-name="newProductInfo.discountExpirationDate"
                         is-open="dateOpen">
            </date-picker>
        </div>

        <button ng-disabled="addNewProductForm.$invalid" ng-click="addProduct(newProductInfo)" class="btn btn-primary">{{'ADD_NEW_PRODUCT' | translate}}</button>

        <p></p>
        <p></p>
    </form>
</div>