<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Simple app</title>

        <meta charset="UTF-8">

        <script src="bower_components/angular/angular.js"></script>

        <script src="app.js"></script>

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <style>
            html{ display:table; height:100%; width:100%; }
            body{ display:table-cell; vertical-align:middle; }
            .content{ margin:0 auto; width:60%; text-align:center; background:#efefef; padding: 5px; }
        </style>
    </head>
    <body ng-controller="mainController">

        <div class="row content">
            <div class="row bg-info">
                <div class="col-12">
                    {{ message}}
                </div>
            </div>

            <div class="row">
                <div class="widget col-md-6" ng-controller="firstController">
                    <p>{{ msg1}}</p>
                </div>

                <div class="menu col-md-6" ng-controller="secondController">
                    <p>{{ msg2}}</p>
                </div>

                <div class="menu col-md-12 text-center" ng-controller="MyController">
                    <h3>{{ clock.now}}</h3>
                </div>

                <div class="menu col-md-12 text-center"  ng-controller="addingMachine">
                    <h4>The simple operation machine ever</h4>
                    <button ng-click="add(1)" class="button">Add</button>
                    <a ng-click="subtract(1)" class="button alert">Subtract</a>
                    <button ng-click="multiply(2)" class="button">x2</button>
                    <button ng-click="divide(2)" class="button">:2</button>
                    <h4>Current count: {{ counter}}</h4>
                </div>

            </div>

            <div class="row bg-info">
                <div class="col-md-6">
                    <input ng-model="name" type="text" placeholder="Your name">
                </div>
                <div class="col-md-6">
                    <p>Hello {{ name}}</p>
                </div>
            </div>

            <div class="row bg-info" ng-controller="ParentController">
                <div ng-controller="ChildController">
                    <a ng-click="sayHello()">Say hello</a>
                </div>
                {{ person }}
            </div>


        </div>

    </body>
</html>