<div class="col-md-8 col-md-offset-2">
    <a class="fa fa-arrow-left" aria-hidden="true"  ng-href="#products" style="text-decoration:none;"></a >

    <div class="col-md-10 col-md-offset-2">
        <div class="list listbox" ng-if="userOpinionInfoList.length" ng-repeat="opinion in userOpinionInfoList">
            <div class='row' style="border-bottom: 1px solid green">
                <div class="col-md-3">
                    <img class="img-circle" ng-src="{{opinion.thumbnailUrl}}" width="40px" height="40px">
                </div>
                <div class="col-md-3">
                    <div>{{opinion.comment}}</div>
                </div>
                <div class="col-md-3">
                    <div>{{opinion.rating}}</div>
                </div>
                <div class="col-md-3">
                    <div>{{opinion.date}}</div>
                </div>
            </div>
            &nbsp;
        </div>
    </div>
</div>