<!DOCTYPE html>
<html ng-app="eventsApp">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link name="font-awesome.css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.css"
          rel="stylesheet" type="text/css">

    <script src="bower_components/angular/angular.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/js/controllers/EventController.js"></script>
    <script src="app/services/EventService.js"></script>
    <script src="app/js/CapitalizeLetter.js"></script>

    <link rel="stylesheet" href="app/css/app.css">

</head>
<body ng-controller="EventController">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">



                Search: <input type="text" data-ng-model="searchBox">
                Order By: <select ng-model="SortColumn">
                <option value="name">Name ascending</option>
                <option value="-name">Name descending</option>
                <option value="date">Date ascending</option>
                <option value="-date">Date ascending</option>
                <option value="price">Price ascending</option>

            </select>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div>
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="event in events | filter:searchBox | orderBy:SortColumn">
                    <div class="  editWidget">
                        <div ng-modal>{{event.name | CapitalizeLetter}}<br></input>
                            <p><strong>Item's Description: </strong>{{event.description}}</p>
                            <p><strong>Item's Date: </strong>{{event.date}}</p>
                            <p><strong>Item's Price: </strong>${{event.price | number: 2}}</p>
                            <img class="" ng-src="{{event.imageUrl}}">
                            <div class="editButton" ng-click="quantityUp(event)">
                                <i class="fa fa-chevron-up " aria-hidden="true"></i>
                            </div>
                            <div class="badge badge-inverse">
                                <p>Update Stock? {{event.quantity}}</p>
                            </div>
                            <div class="editButton" ng-click="quantityDown(event)">
                                <i class="fa fa-chevron-down " aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
