<md-dialog flex="80">
    <form name="itemDialogForm" ng-submit="submit()">
        <md-dialog-content flex="1" layout-padding>
            <div flex="1" layout="column" layout-gt-sm="row">
                <md-input-container flex="1" flex-gt-sm="50">
                    <label>{{ 'NAME' | translate }}</label>

                    <input ng-model="productItemInfo.name" type="text" name="name" required minlength="3" maxlength="20">

                    <div ng-messages="itemDialogForm.name.$error" ng-if="itemDialogForm.$submitted">
                        <div ng-message="required">{{ 'NAME_REQUIRED' | translate }}</div>
                        <div ng-message="minlength">{{ 'NAME_TOO_SHORT' | translate }}</div>
                        <div ng-message="maxlength">{{ 'NAME_TOO_LONG' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container flex="1" flex-gt-sm="50">
                    <label>{{ 'IMAGE_URL' | translate }}</label>

                    <input ng-model="productItemInfo.imageUrl" type="text"
                           placeholder="{{ 'SQUARE_IMAGES_RECOMENED' | translate }}">
                </md-input-container>
            </div>

            <div flex="1" layout="column" layout-gt-sm="row">
                <div flex="1" flex-gt-sm="50" class="date-picker">
                    <div>
                        <label>{{ 'DATE_ADDED' | translate }}</label>
                    </div>

                    <md-datepicker ng-model="productItemInfo.dateAdded" required></md-datepicker>
                </div>

                <md-input-container flex="1" flex-gt-sm="50">
                    <label>{{ 'PRICE' | translate }}</label>

                    <input ng-model="productItemInfo.price" type="number" name="price" required>

                    <div ng-messages="itemDialogForm.price.$error" ng-if="itemDialogForm.$submitted">
                        <div ng-message="required">{{ 'PRICE_REQUIRED' | translate }}</div>
                    </div>
                </md-input-container>
            </div>

            <div flex="1" layout="row">
                <md-input-container flex="100">
                    <label>{{ 'DESCRIPTION' | translate }}</label>

                    <textarea ng-model="productItemInfo.description"></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="reset()">
                {{ 'RESET' | translate }}
            </md-button>

            <md-button class="md-raised md-primary" type="submit">
                {{ 'SAVE' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>