<div flex="100" flex-gt-sm="85" layout-padding
     class="secondary-banner"
     ng-class="{'window-height' : $mdMedia('gt-sm')}">
    <div flex="100" layout="row" class="wrap-content">
        <div flex="25" flex-md="33" flex-sm="33" flex-xs="100"
             ng-repeat="item in menuItems">
            <md-card flex>
                <md-card-header>
                    <md-card-header-text>
                        <a href="#!/menu/{{item.id}}"><span class="md-title"><b>{{ item.name | translate }}</b></span></a>
                    </md-card-header-text>
                </md-card-header>

                <a href="#!/menu/{{item.id}}">
                    <img ng-src="{{item.imageUrl}}" class="md-card-image clickable md-ink-ripple" alt="{{item.name + 'photo'}}">
                </a>

                <md-card-actions ng-if="isAdmin">
                    <div flex  layout="row" layout-align="end center">
                        <md-button class="md-icon-button"
                                   ng-click="updateMenuProduct($index)">
                            <md-icon class="material-icons">edit</md-icon>
                        </md-button>
                        <md-button class="md-icon-button"
                                   ng-click="removeMenuProduct($index)">
                            <md-icon class="material-icons">delete</md-icon>
                        </md-button>
                    </div>
                </md-card-actions>
            </md-card>
        </div>
    </div>

    <md-fab-speed-dial md-direction="left" md-open="isFabOpened" class="md-fab md-fab-bottom-right md-fling"
                       ng-if="isAdmin">
        <md-fab-trigger>
            <md-button class="md-fab md-primary">
                <md-icon class="material-icons">add</md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button class="md-fab md-mini md-primary"
                       ng-click="createMenuProduct()">
                <md-icon class="material-icons">restaurant_menu</md-icon>
                <md-tooltip>
                    {{ 'ADD_CATEGORY' | translate }}
                </md-tooltip>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>

<div flex ng-hide="$mdMedia('xs') || $mdMedia('sm')"
     ng-include="'app/common/templates/banner.html'">
</div>