<div flex="100" flex-gt-sm="85" layout-padding
     class="secondary-banner"
     ng-class="{'window-height' : $mdMedia('gt-sm')}">
    <div flex="100">
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools menu-items-toolbar">
                <md-button class="md-icon-button"
                           ng-click="goBack()">
                    <md-icon class="material-icons">arrow_back</md-icon>
                </md-button>
                <h2>
                    <span>{{ selectedMenuItemProduct.name | translate }}</span>
                </h2>
                <span flex></span>

                <order-by-select order-by-criteria="orderByCriteria"></order-by-select>
            </div>
        </md-toolbar>

        <div flex ng-if="errors.length" layout-padding>
            <p ng-repeat="error in errors" class="error-text">
                <md-icon class="material-icons error-text">warning</md-icon></span>
                {{ error.message | translate }}
            </p>
        </div>

        <md-content flex>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="product in selectedMenuItemProduct.productsList | orderBy : orderByCriteria"
                              ng-click="updateItemCategory(product)">
                    <div flex="100" class="md-list-item-text parent-width" layout="row">
                        <img ng-src="{{product.imageUrl}}" alt="{{product.name}}" class="md-avatar">

                        <div flex="100" flex-gt-sm="75">
                            <h3>{{product.name | menuItemCapitalizeFilter}} &nbsp; <b>{{product.price | currency : currentCurrency}}</b></h3>
                            <p>
                                {{product.description}}
                            </p>
                            <p>
                                {{ 'SINCE' | translate }} {{ product.dateAdded | date }}
                            </p>
                        </div>

                        <div flex="100" flex-gt-sm="25"
                             layout="row" layout-align="end center"
                             ng-if="isAdmin">

                            <md-button class="md-icon-button md-secondary"
                                       ng-click="removeItemCategory(product)">
                                <md-icon class="material-icons">delete</md-icon>
                            </md-button>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </md-card>

    <md-fab-speed-dial md-direction="left" md-open="isFabOpened" class="md-fab md-fab-bottom-right md-fling"
                       ng-if="isAdmin">
        <md-fab-trigger>
            <md-button class="md-fab md-primary">
                <md-icon class="material-icons">add</md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button class="md-fab md-mini md-primary"
                     ng-click="createProductItem()">
                <md-icon class="material-icons">restaurant</md-icon>
                <md-tooltip>
                    {{ 'ADD_PRODUCT' | translate }}
                </md-tooltip>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>
</div>

<div flex ng-hide="$mdMedia('xs') || $mdMedia('sm')"
     ng-include="'app/common/templates/banner.html'">
</div>