<md-dialog flex="80">
    <form name="menuDialogForm" ng-submit="submit()">
        <md-dialog-content flex="1" layout-padding>
            <div flex="1" layout="column" layout-gt-sm="row">
                <md-input-container flex="1" flex-gt-sm="50">
                    <label>{{ 'NAME' | translate }}</label>

                    <input ng-model="menuItemInfo.name" type="text" name="name" required ng-minlength="3" maxlength="20">

                    <div ng-messages="menuDialogForm.name.$error" ng-if="menuDialogForm.$submitted">
                        <div ng-message="required">{{ 'NAME_REQUIRED' | translate }}</div>
                        <div ng-message="minlength">{{ 'NAME_TOO_SHORT' | translate }}</div>
                        <div ng-message="maxlength">{{ 'NAME_TOO_LONG' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container flex="1" flex-gt-sm="50">
                    <label>{{ 'IMAGE_URL' | translate }}</label>

                    <input ng-model="menuItemInfo.imageUrl" type="text" name="imageUrl" required
                           placeholder="{{ 'SQUARE_IMAGES_RECOMENED' | translate }}">

                    <div ng-messages="menuDialogForm.imageUrl.$error" ng-if="menuDialogForm.$submitted">
                        <div ng-message="required">{{ 'IMAGE_URL_REQUIRED' | translate }}</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="reset()">
                {{ 'RESET' | translate }}
            </md-button>

            <md-button class="md-raised md-primary" type="submit">
                {{ 'SAVE' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>