﻿<div ng-controller="EditProductController">
    {{test}}
    <br/>
    Name: <input ng-model="product.name"/>
    <br/>
    Type: <input ng-model="product.type"/>
    <br/>
    Price: <input ng-model="product.price" />
    <br />
    <button type="submit" ng-click="update(product)">Save</button>
    <br/>
    <a href='#Index'>Back</a>

</div>