﻿<div ng-controller="ProductController">
    {{test}}
    <br />
    <input type="button" ng-click="toggleFilters()" value="Toggle Filters" />
    <br />
    for age 12+<input type="checkbox" ng-model="show12Plus" ng-disabled="filtersDisabled" />
    <h1>Games List</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Icon</td>
                <td ng-click="orderBy('name')">Name</td>
                <td ng-click="orderBy('type')">Type</td>
                <td ng-click="orderBy('launchDate')">Launch Date</td>
                <td ng-click="orderBy('likes')">Likes</td>
                <td ng-click="orderBy('price')">Price</td>
                <td ng-click="orderBy('rating')">Rating</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody ng-repeat="product in products | orderBy: orderByColumn : orderByDirection | latestGames: show12Plus">
            <tr>
                <td>
                    <!--<a href="" ng-click="toggleImage(product.id)">toggle image</a>-->
                    <img class="imgIcon" ng-src='{{product.imageUrl}}'></img>

                </td>
                <td ng-click="toggleRowDetails(product.id)">{{product.name | capitalize}}</td>
                <td>{{product.type}}</td>
                <td>{{product.launchDate | date:"yyyy-dd-MMM" }}</td>
                <td>{{product.likes}}</td>
                <td>{{product.price | currency}}</td>
                <td>{{product.rating | number: 2}}</td>
                <td>
                    <a href='#Edit/{{product.id}}'>Edit</a>
                    <button ng-click="upVote(product)">Like</button>
                </td>

            </tr>
            <tr id="detailsRow" ng-show="showDetailsRowId==product.id">
                <td colspan="8">
                    additional details for product: {{product.name}}
                    <br />
                    <div ng-if="product.rating>=9">
                        <div ng-include="'views/RowDetails.html'"></div>
                    </div>
                    <br />
                    <ng-include src="'views/RowDetails.html'" ng-init="reviewer='IGN'"></ng-include>
                    <div ng-bind-template="{{product.likes}} number of likes at a price of {{product.price | currency}}"></div>

                    <br />
                    <b>
                        <review value="{{product}}"></review>
                    </b>
                </td>

            </tr>
        </tbody>
    </table>
</div>