﻿<div>
    Username:
    <input type="text" style="width: 300px" ng-model="loginModel.username"/>
    <br/>
    Password:
    <input type="password" style="width: 300px" ng-model="loginModel.password" />
    <br/>
    <input type="button" value="Submit" ng-click="logIn(loginModel)" />
</div>