<div class="col-md-8 col-md-offset-2">

    <input type="text" ng-model="search.name" class="form-control" placeholder="{{'SEARCH_PRODUCT_BY_NAME' | translate}}">
    <br>
    <div class="container">
        <section class="row controls-sorting">
            <div class="sorting col-sm-6"> <span class="title">{{'SORT_BY_:'| translate}}</span>
                <div class="btn-group">
                    <button type="button" class="btn btn-info btn-xs" ng-click="setOrder('2', 'name', false)" ng-class="{active: sorting.id  === '2'}">{{'NAME_A_Z' | translate}}</button>
                    <button type="button" class="btn btn-info btn-xs" ng-click="setOrder('3', 'name', true)" ng-class="{active: sorting.id  === '3'}">{{'NAME_Z_A' | translate}}</button>
                    <button type="button" class="btn btn-info btn-xs" ng-click="setOrder('4', 'price', false)" ng-class="{active: sorting.id  === '4'}">{{'PRICE_LOW_HIGH' | translate}}</button>
                    <button type="button" class="btn btn-info btn-xs" ng-click="setOrder('5', 'price', true)" ng-class="{active: sorting.id  === '5'}">{{'PRICE_HIGH_LOW' | translate}}</button>
                </div>
            </div>
        </section>
    </div>
    <br>
    <div class="row" ng-if="!productInfoList.length">
        {{ 'NO_PRODUCTS_TO_SHOW' | translate }}
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>{{'ID' | translate}}</th>
            <th>{{'IMAGE' | translate}}</th>
            <th>{{'CATEGORY' | translate}}</th>
            <th>{{'NAME' | translate}}</th>
            <th>{{'QUANTITY' | translate}}</th>
            <th>{{'PRICE' | translate}}</th>
            <th>{{'HURRY_UP' | translate}}</th>
            <th style="width:20px;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr class="hoverme" ng-click="viewOpinions(productInfo.id)" tooltip="{{'CLICK_TO_VIEW_OTHER_OPINIONS' | translate}}" ng-repeat="productInfo in productInfoList | orderBy: sorting.order: sorting.direction | filter: search" >
            <td>
                {{productInfo.id}}
            </td>
            <td>
                <img class="img-responsive" ng-src={{productInfo.imageUrl}} width="40px" height="40px" alt="No image.">
            </td>
            <td>
                <span>{{productInfo.category | uppercase}}</span>
            </td>
            <td>
                <span>{{productInfo.name | capitalize}}</span>
            </td>
            <td>
                <span>{{productInfo.quantity}}</span>
            </td>
            <td>
                <span>{{productInfo.price | currency:"USD$":2}}</span>
            </td>
            <td class="tada animated">
                <strong countdown end-date="{{ productInfo.discountExpirationDate }}" units="{{ 'Days | Hours | Minutes | Seconds' }}"></strong>
            </td>
            <td><a ng-click="buyProduct(productInfo)" tooltip="{{'CLICK_TO_BUY' | translate}} {{productInfo.name}} {{'NOW' | translate}}!" class="btn btn-success btn-lg"/>{{'BUY' | translate}}</button></td>
        </tr>
        </tbody>
    </table>
</div>