<!DOCTYPE html>
<html ng-app="trainingShop">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">

    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="app/common/styles/components/md-sidenav.css">
    <link rel="stylesheet" href="app/common/styles/components/md-fab-speed-dial.css">
    <link rel="stylesheet" href="app/common/styles/banner/banner.css">
    <link rel="stylesheet" href="app/common/styles/layout.css">
    <link rel="stylesheet" href="app/common/styles/utils.css">
    <link rel="stylesheet" href="app/common/styles/animations.css">

    <link rel="stylesheet" href="app/menu/styles/menu.css">

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>

    <script src="app/app.js"></script>

    <script src="app/common/modules/common.js"></script>

    <script src="app/common/config/routes.js"></script>
    <script src="app/common/config/theme.js"></script>
    <script src="app/common/config/translate.js"></script>

    <script src="app/common/controllers/layoutController.js"></script>
    <script src="app/common/services/layoutService.js"></script>
    <script src="app/common/directives/orderBySelect.js"></script>

    <script src="app/menu/modules/menu.js"></script>
    <script src="app/menu/controllers/menu/menuController.js"></script>
    <script src="app/menu/controllers/menu/menuDialogController.js"></script>
    <script src="app/menu/controllers/menu/menuItemController.js"></script>
    <script src="app/menu/controllers/menu/itemCategoryDialogController.js"></script>
    <script src="app/menu/services/menu/menuService.js"></script>
    <script src="app/menu/filters/menuItemCapitalizeFilter.js"></script>

</head>
<body>
    <div ng-controller="LayoutController as ctrl">
        <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2 theme-background"
                    md-is-locked-open="$mdMedia('gt-sm')"
                    ng-include="'app/common/templates/sidabar.html'">
        </md-sidenav>

        <md-button class="md-icon-button md-primary md-raised sidenav-menu-toggle"
                   hide-gt-sm ng-click="toggleSidenav()">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>

        <div flex layout="row"
             class="content-wrapper">
            <div flex="100" layout="row"
                 ng-view>

            </div>
        </div>
    </div>
</body>
</html>