.editWidget{
    width:auto;
    padding: 30px;
    margin-bottom:20px;
    border: 1px solid black;
    text-align: center;
}
.editWidget img{
    height: 150px;
}
a:hover{}


h2 {
    margin-bottom: 9px;
    margin-top: 0;
    font-size: 12px;
    text-align: center;
    z-index: 15;
    border-radius: 4px;
    transition: all 2s ease-out;
}
p {
    display: block;
    width: 100%;
    color: #2c3e50;
    clear: both;
}
.description {
    margin-bottom: 70px;
}





a {
    color: #2c3e50;
    transition: color 0.2s ease-out;
    /*padding: 5px 10px;*/
    margin-right: 16px;
}


.wrapper {
    height: auto;
    border-radius: 4px;
    position: relative;
}

.wrapper p {
    line-height: 31px;
}
.btn-me{
    background-color: transparent   ;
    height: 33px;
    width: auto;
    border: 1px solid black;
    left: 0;
    border-radius:6px;
}
.btn-me:hover{
    background-color: rgba(0, 200, 0, 0.7);
}

.images{
    height: 300px;
}