<div><img ng-src="{{product.imageUrl}}" width="200"/></div>
<h4>Name: {{product.name}}</h4>
<div>Price: {{product.price | currency }}</div>
<div>In stock: {{product.inStock | inStock}}</div>

<form>
    <label for="name">Name</label>
    <input type="text" id="name" ng-model="product.name" />
    <label for="price">Price</label>
    <input type="text" id="price" ng-model="product.price" />

    <label for="image">Image URL</label>
    <input type="text" id="image" ng-model="product.imageUrl" />
    <label for="inStock">Availability</label>
    <input type="checkbox" id="inStock" ng-model="product.inStock">
    <input type="button" ng-click="addProfitMargin(product)" value="Add profit margin"/>

    <button ng-disable="product.inStock">Add to cart</button>
</form>