<!--
<div ng-controller="LayoutController as ctrl">
    <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2 theme-background"
                md-is-locked-open="$mdMedia('gt-sm')"
                ng-include="'app/common/templates/sidabar.html'">
    </md-sidenav>

    <md-button class="md-icon-button md-primary md-raised sidenav-menu-toggle"
               hide-gt-sm ng-click="toggleSidenav()">
        <md-icon class="material-icons">menu</md-icon>
    </md-button>

    <div flex layout="row"
         class="content-wrapper">
        <div ng-view>
        </div>

        <div flex class="banner"
             ng-hide="(($mdMedia('xs') || $mdMedia('sm')) && (selectedItem !== undefined))"
             ng-click="hideMenuItemView()">
        </div>
    </div>
</div>-->
