<div layout="column">
    <div class="title md-accent" layout-padding>
        <h1 class="md-accent" ng-click="goHome()"><b>A</b>robs <b>B</b>istro <b>C</b>affe</h1>
        <h3 ng-click="goHome()">{{location}}</h3>
    </div>

    <div flex="100" class="menu-container">
        <md-list>
            <md-list-item ng-repeat="menuItem in menuItems"
                          href="#!{{menuItem.url}}"
                          ng-mouseover="menuItem.showIcon = true"
                          ng-mouseleave="menuItem.showIcon = false"
                          class="text-center">
                <div flex="100" layout="row" layout-align="center start">
                                    <span ng-if="menuItem.showIcon">
                                        <md-icon class="material-icons">{{menuItem.icon}}</md-icon>
                                    </span>
                    {{menuItem.name | translate}}
                </div>
            </md-list-item>
        </md-list>
    </div>

    <div flex layout="row" class="language-container"
         layout="row" layout-align="center center">
        <div flex="50" layout="row" layout-align="end center">
            <md-button class="md-primary md-hue-1 md-icon-button" ng-click="changeLanguage('en')">EN</md-button>
        </div>
        &nbsp;
        <div flex="50" layout="row" layout-align="start center">
            <md-button class="md-primary md-hue-1 md-icon-button" ng-click="changeLanguage('ro')">RO</md-button>
        </div>
    </div>
</div>