<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">

    <script src="bower_components/angular/angular.js"></script>

    <script src="app/app.js"></script>
    <script src="controllers/bookListController.js"></script>
    <script src="controllers/showHideEditFormController.js"></script>

    <link href="app/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="app/css/shop-homepage.css">

</head>
<body>

<div class="container" ng-controller="BookListController">
    <div class="col-md-3">
        <p class="lead">Book Shop</p>
        <div class="list-group">
            <a href="#" class="list-group-item">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
        </div>
    </div>


    <div class="col-md-9">
        <div class="row carousel-holder">

            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="slide-image" src="http://www.haranandbooks.com/images/banner3.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="http://www.haranandbooks.com/images/banner3.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="http://www.haranandbooks.com/images/banner3.jpg" alt="">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="row">

        <div ng-repeat="book in books | orderBy:'name'" class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img ng-src="{{book.imageUrl}}" alt="">
                <div class="caption">
                    <h4 class="pull-right" ng-model="book.price"> {{book.price | currency }}</h4>
                    <div ng-controller="ShowHideEditFormController">
                        <h4><a href="#" ng-click="showHideForm()">{{book.name}}</a></h4>
                        <div ng-show="isDisplayed"><input type="text" ng-model="book.name"></div>
                        <span ng-show="isDisplayed"> <button ng-click="showHideForm()">Save changes</button></span>
                    </div>

                    <h5>Author: {{book.author}}</h5>
                    <div ng-controller="BookStockParentController">
                        <h5> In stock: {{ item.status }}</h5>
                        <div ng-controller="BookStockChildController">
                            <h5>Update quantity: <input type="number" min="0" ng-model="book.stock"
                                                        ng-click="updateBookStock(book.stock)"></h5>
                        </div>
                    </div>
                </div>

                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="app/js/jquery.js"></script>
<script src="app/js/bootstrap.min.js"></script>
</body>
</html>