<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">

    <script src="bower_components/angular/angular.js"></script>

    <script src="app.js"></script>
</head>
<body ng-controller="mainController">
    {{ message }} 
</body>
</html>