<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html ng-app>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.js"></script>
        <style>
            html{ display:table; height:100%; width:100%; }
            body{ display:table-cell; vertical-align:middle; }
            .content{ margin:0 auto; width:60%; text-align:center; background:pink; padding: 5px; }
        </style>
    </head>
    <body>
        <div class="content" ng-controller="MyController">
            <h1>Angular</h1>
            <h3>Hello {{ clock.now }}!</h3>
        </div>

        <script type="text/javascript" src="clock.js"></script>

    </body>
</html>
