<div layout="row">
    <md-input-container>
        <label>{{ 'ORDER_BY' | translate }}</label>
        <md-select ng-model="orderByCriteria">
            <md-option ng-repeat="option in orderByOptions" value="{{option.value}}">
                {{option.name | translate}}
            </md-option>
        </md-select>
    </md-input-container>
</div>