﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script src="app.js"></script>


    <link href="styles/main.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />

    <!--controllers-->
    <script src="scripts/controllers/ProductController.js"></script>
    <script src="scripts/controllers/EditProductController.js"></script>
    <script src="scripts/controllers/LoginController.js"></script>

    <!--services-->
    <script src="scripts/services/ProductService.js"></script>
    <script src="scripts/services/LoginService.js"></script>

    <!--filters-->
    <script src="scripts/filters/capitalize.js"></script>
    <script src="scripts/filters/latestGames.js"></script>

    <!--directives-->
    <script src="scripts/directive/reviewDirective.js"></script>


    <script src="scripts/controllers/MainController.js"></script>

</head>
<body ng-controller="mainController">

    <nav class="nav navbar-default" ng-show="isLoggedIn">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#Index">{{"Home" | uppercase}}</a></li>
                <li><a href="#About/">{{"About" | uppercase}}</a></li>
                <li><a href="#Contact/">{{"Contact" | uppercase}}</a></li>
            </ul>
            <ul class="nav navbar-nav" style="float:right">
                <li><a href="" ng-click="logout()">sign out</a></li>
            </ul>
        </div>
    </nav>

    <div ng-view></div>
</body>
</html>