/* date picker */
.date {
    background: #fff url('img/date_img.jpg') no-repeat 2px center;
    padding-left: 25px;
}

.hoverme:hover
{
    background-color:#99ccff;
}

.divLast
{
   top: 0px;
   margin:0px;
   padding: 0px 2px 2px 3px;
   border-width: 2px;
   border-bottom-width:2px;
   border-bottom-color:White;
   border-bottom-style: solid;
   width: 100%;
}