<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap-flat/css/bootstrap-flat.css">
    <link rel="stylesheet" href="bower_components/bootstrap-flat/css/bootstrap-flat-extras.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">

    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="config/route.js"></script>
    <script type="text/javascript" src="config/run.js"></script>
    <script type="text/javascript" src="config/translate.js"></script>

    <script type="text/javascript" src="common/directives/app_directives.js"></script>
    <script type="text/javascript" src="common/controllers/app_controllers.js"></script>
    <script type="text/javascript" src="app/login/controllers/loginCtrl.js"></script>
    <script type="text/javascript" src="app/login/services/loginService.js"></script>
    <script type="text/javascript" src="app/products/controllers/productsCtrl.js"></script>
    <script type="text/javascript" src="app/products/services/productsService.js"></script>
    <script type="text/javascript" src="app/userproducts/controllers/userProductsCtrl.js"></script>
    <script type="text/javascript" src="app/userproducts/services/userProductsService.js"></script>
    <script type="text/javascript" src="app/useropinions/controllers/userOpinionsCtrl.js"></script>
    <script type="text/javascript" src="app/useropinions/services/userOpinionsService.js"></script>
    <script type="text/javascript" src="app/about/controllers/aboutCtrl.js"></script>
    <script type="text/javascript" src="app/contact/controllers/contactCtrl.js"></script>

    <script type="text/javascript" src="app/products/filters/productsFilter.js"></script>
    <script type="text/javascript" src="app/userproducts/filters/userProductsFilter.js"></script>
    <script type="text/javascript" src="app/userproducts/directives/userProductsExpirationDirective.js"></script>
</head>
<body>

    <div ng-controller="MainController as ctrl" ng-show="isLoggedIn()">
        <header>
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#products">Online Shop</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#products"><i class="fa fa-home"></i> {{'HOME' | translate}}</a></li>
                        <li><a href="#administrate"><i class="fa fa-cogs"></i> {{'ADMINISTRATE' | translate}}</a></li>
                        <li><a href="#about"><i class="fa fa-shield"></i> {{'ABOUT' | translate}}</a></li>
                        <li><a href="#contact"><i class="fa fa-comment"></i> {{'CONTACT' | translate}}</a></li>
                        <li><a href="#logout"><i class="fa fa-sign-out"></i> {{'LOG_OUT' | translate}}</a></li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info btn-xs" ng-click="changeLanguage('en')">EN</button>
                            <button type="button" class="btn btn-info btn-xs" ng-click="changeLanguage('ro')">RO</button>
                        </div>
                     </ul>
                </div>
            </nav>
        </header>
    </div>

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">
        <div ng-view class="mainBody"></div>
    </div>

    <div ng-include="'layout/globals/footer.html'"></div>
</body>
</html>