md-sidenav {
    overflow: hidden;
}

md-sidenav._md-locked-open{
    position: fixed !important;
}

md-sidenav md-list-item,
md-sidenav md-icon{
    color: rgb(0, 188, 212) !important;
}

md-sidenav button{
    text-align: center;
}

.title{
    font-family: 'Josefin Sans', sans-serif;
    color: #CF612D;
}

.title h1{
    font-size: 30px;
    font-weight: 500
}

md-sidenav h3{
    margin-top: -40px !important;
    font-weight: 400;
    float: right;
    margin-bottom: 2px;
}


.sidenav-menu-toggle{
    position:fixed;
    top: 8px;
    left: 4px;
    z-index: 10;
}

.language-container{
    position: absolute;
    bottom: 0px;
    width:100%;
    color: rgba(255, 255, 255, 0.7) !important;
}