<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">

    <script src="bower_components/angular/angular.js"></script>
    <link href="app/css/style.css" rel="stylesheet"/>

</head>
<body>
<div ng-controller="ProductController">
<div>
    Sorting by {{orderBy | capitalize}} <br/>
    Direction {{orderDescending | boolToSortOrder}}
</div>

<button ng-click="order('price')">Price</button>
    <span class="sortorder" ng-show="orderBy === 'price'" ng-class="{orderDescending:orderDescending}"></span>

<button ng-click="order('name')">Name</button>
    <span class="sortorder" ng-show="orderBy === 'name'" ng-class="{orderDescending:orderDescending}"></span>


    <ul class="products">
        <li ng-repeat="product in products" ng-include src="'views/products.html'">

        </li>

    </ul>
</div>
</body>
<script src="app.js"></script>
<script src="app/product/product.services.js"></script>
<script src="app/product/product.controller.js"></script>
<script src="app/product/product.filters.js"></script>
</html>