.menu-items-toolbar md-input-container {
    margin-top: 28px !important;
}

.menu-items-toolbar label {
    bottom: 80% !important;
    color: #FFFFFF !important;
}

.date-picker label {
    color: rgba(0,0,0,0.54);
    font-size: 12px
}