.banner{
    background-image: url("../../../../assets/images/restaurant1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 100vh;
}

.secondary-banner{
    background-image: url("../../../../assets/images/restaurant1op.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 100vh;
}

@media screen and (max-width: 599px) {
    .banner{
        background-image: url("../../../../assets/images/restaurant1small.jpg");
    }
}